body {
    margin: 0;
    background-color: black;
}

video {
    position: absolute;
    z-index: -2;
}

.container {
    position: absolute;
    background: black;
    z-index: -1;
    height: 1000px;
    width: 1000px;
}

canvas {
    z-index: 2;
    margin: auto;
    /* padding-top: 65px; */
}